# dependencies
node_modules/

# builds
dist/
server/dist/

# env files (DO NOT COMMIT SECRETS)
.env
.env.*
!.env.example
server/.env
server/.env.*
!server/.env.example

# logs
*.log

# OS
.DS_Store
Thumbs.db
